@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl text-gallery-200;
}

h2 {
  @apply text-2xl text-pumpkin-500 m-auto;
}

h3 {
  @apply text-xl text-pumpkin-300;
}

.room-option {
  @apply bg-harvest-gold-200/70 p-6 rounded-lg border-solid border-[1px] border-summer-green-400/90 shadow-lg;
}

p {
  @apply text-gallery-200;
}

.page-header {
  @apply flex flex-col w-full h-[30%] items-center;
}

.page-content {
  @apply flex flex-col h-[70%] overflow-y-scroll;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
